@model SzpitalWWW.Data.Info.Prywatnie
@{
    ViewData["Title"] = "Poczekalnia";
}


<hr />

<div class="row d-flex align-items-center justify-content-center" style="margin: 0px">
    <div class="col-md-4">
        <form asp-action="Rejestracja" enctype="multipart/form-data" id="FormUpload" class="was-validated">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="NazwaPacjenta" type="text" minlength="8" maxlength="20" class="form-control" placeholder="Imię i Nazwisko" required />
                <div class="valid-feedback">
                    OK
                </div>
                <div class="invalid-feedback">
                    Za mało znaków
                </div>
                <label asp-for="NazwaPacjenta" class="form-label">Imie Nazwisko </label>
                <span asp-validation-for="NazwaPacjenta" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">

                <input asp-for="NazwaLekarza" id="Name" type="text" class="form-control" placeholder="Nazwa Lekarza" required>
                <label asp-for="NazwaLekarza" class="control-label">Miejscowość</label>
                <div class="valid-feedback">
                    OK
                </div>
                <div class="invalid-feedback">
                    Brak lekarza w bazie
                </div>
                <span asp-validation-for="NazwaLekarza" class="text-danger"></span>

            </div>

            <div class="form-floating mb-3">
                <textarea rows="4" asp-for="Godzina" type="text" class="form-control" placeholder="Godzina " required></textarea>
                <div class="valid-feedback">
                    OK
                </div>
                <div class="invalid-feedback">
                    Godzina
                </div>
                <label asp-for="Godzina" class="control-label"> Godzina </label>
                <span asp-validation-for="Godzina" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Cena" type="number" class="form-control" placeholder="2" min="2" max="30" required />
                <div class="valid-feedback">
                    OK
                </div>
                <div class="invalid-feedback">
                    Wpisz cene
                </div>
                <label asp-for="Cena" class="control-label"> Cena </label>
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>






            <div class="form-group">
                <input type="submit" value="Dodaj rezerwacje" class="btn btn-primary" />
                <a class="btn btn-success" href="@Url.Action("Index", "Home")">Powrót</a>
            </div>
        </form>

    </div>
</div>