@model IEnumerable<SzpitalWWW.Data.CMS.Strona>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="padding: inherit;">
    <ul class="navbar-nav flex-grow-1 text-white">
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" style="padding: inherit"  asp-area="" asp-controller="Home" asp-action="Dodaj"><img src="~/img/health.png" />Zarejestruj Wizyte</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" style="padding: inherit"  asp-area="" asp-controller="Info" asp-action="RezerwcjaPrywatnie"><img src="~/img/security.png" />Prywatnie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" style="padding: inherit" asp-area="" asp-controller="NFZ" asp-action="Index"><img src="~/img/medical-expense.png" />NFZ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" style="padding: inherit" asp-area="" asp-controller="History" asp-action="Index"><img src="~/img/history-book.png" />Płatności Pacjenta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" style="padding: inherit" asp-area="" asp-controller="Hour" asp-action="Index"><img src="~/img/clock.png" />Godziny Pracy Lekarzy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" style="padding: inherit" asp-area="" asp-controller="Home" asp-action="Kontakt"><img src="~/img/phone.png" />Kontakt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" style="padding: inherit" asp-area="" asp-controller="Information" asp-action="Index"><img src="~/img/info.png" />Informacje</a>
        </li>
    </ul>
</div>